<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
<!-- Competitor Information Start -->
<div class="data-table-area">
    <div class="container">

        <div class="jumbotron white-jumbo">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="basic-tb-hd">
                        <h2 th:text="${competitor.productName}"></h2>
                        <mark th:text="'Current Competitor\'s price: '+${competitor.currentPrice}"></mark>
                        <input type="hidden" id="competitor_id" th:value="${competitor.id}"/>
                        <input type="hidden" id="series_name" th:value="${competitor.url}"/>
                    </div>
                    <dt class="col-sm-3 comp-details">Product Link:</dt>

                  <dd class="col-sm-9 comp-details">
                        <a href="#"
                           id="url"
                           data-type="text"
                           th:data-pk="${competitor.id}"
                           data-url="/edit/competitor"
                           th:text="${competitor.url}"></a>
                    </dd>

                    <dt class="col-sm-3 comp-details">Product xPath to price:</dt>
                    <dd class="col-sm-9 comp-details">
                        <a href="#"
                           id="xPathToPrice"
                           data-type="text"
                           th:data-pk="${competitor.id}"
                           data-url="/edit/competitor"
                           th:text="${competitor.xPathToPrice}"></a>
                    </dd>

                    <dt class="col-sm-3 comp-details">Product xPath to title:</dt>
                    <dd class="col-sm-9 comp-details">
                        <a href="#"
                           id="xPathToTitle"
                           data-type="text"
                           th:data-pk="${competitor.id}"
                           data-url="/edit/competitor"
                           th:text="${competitor.xPathToTitle}"></a>
                    </dd>
                </div>
        </div>
        </div>

        <div class="row">
            <div id="container"></div>
        </div>
    </div>
</div>
<!-- Competitor Information End-->
</div>
</html>
