<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"/>

    <!--scripts-->
    <th:block th:replace="~{fragments/scripts :: scripts}"/>
    <script th:src="@{/js/add-product.js}"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/add/form" method="post" th:object="${model}">

                <div class="form-group">

                    <label for="inputProduct">Product:</label>
                    <select id="inputProduct" name="productId" class="form-control">
                        <option th:each="product : ${products}"
                                th:selected="${selected}==${product.id}"
                                th:value="${product.id}"
                                th:text="${product.name}"></option>
                    </select>
                    <br>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="name"
                                   id="product-name"
                                   placeholder="Add product to the list">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="currentPrice"
                                   id="product-price"
                                   placeholder="price">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" name="currency"
                                   id="product-currency"
                                   placeholder="currency">
                        </div>

                        <div class="col-md-2">
                            <button id="btn-add-product" class="btn btn-primary active"
                                    type="submit">Submit
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="form-group">
                    <label for="inputProductLink">Product link:</label>
                    <input type="text" class="form-control" name="url" th:field="*{url}"
                           id="inputProductLink" placeholder="Enter product link">
                    <div th:each="error : ${#fields.errors('url')}">
                        <small class="field-error" th:text="${error}"></small>
                        <br/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPriceXPath">xPath to price:</label>
                    <input type="text" class="form-control" name="xPathToPrice" th:field="*{xPathToPrice}"
                           id="inputPriceXPath" placeholder="Enter xPath to price">
                    <div th:each="error : ${#fields.errors('xPathToPrice')}">
                        <small class="field-error" th:text="${error}"></small>
                        <br/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTitleXPath">xPath to product title:</label>
                    <input type="text" class="form-control" name="xPathToTitle" th:field="*{xPathToTitle}"
                           id="inputTitleXPath" placeholder="Enter xPath to product title">
                    <div th:each="error : ${#fields.errors('xPathToTitle')}">
                        <small class="field-error" th:text="${error}"></small>
                        <br/>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block active mt-4"
                        type="submit">Add new
                </button>
                <br>
                <a href="/"><i class="fas fa-arrow-left"></i> Back to all products</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>