<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"/>

    <!--scripts-->
    <th:block th:replace="~{fragments/scripts :: scripts}"/>
    <script th:src="@{/js/add-email.js}"></script>
    <script th:src="@{/js/delete-email.js}"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--Add new-->
            <div class="row">
                <div class="form-group col-md-8">
                    <input type="email" class="form-control"
                           id="email"
                           placeholder="Add email to the list">
                </div>

                <div class="col-md-3">
                    <button id="btn-add-email" class="btn btn-primary active"
                            type="submit">Add
                    </button>
                </div>
            </div>
            <br>
            <!--Table-->
            <div class="row">
                <div class="form-group col-md-8">
                    <table id="emails_table_id" class="table">
                        <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="text-black">
                        <th:block th:each="entry : ${model}">

                            <tr>
                                <td th:text="${entry.email}"></td>
                                <td>
                                    <div id="btn-delete-email">
                                        <form>
                                            <button th:email_id="${entry.id}" class="as-link" type="submit">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="/"><i class="fas fa-arrow-left"></i> Back to all products</a>
        </div>
    </div>
</div>
</body>
</html>