<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"/>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="jumbotron">
            <dl class="row" id="product_info">
                <dt class="col-sm-3">Product Name:</dt>
                <dd class="col-sm-9"><h5 th:text="${product.name}"></h5></dd>

                <dt class="col-sm-3">Product current Price:</dt>
                <dd class="col-sm-9">
                    <h5>
                        <mark th:text="${product.currentPrice}"></mark>
                    </h5>
                </dd>

                <dt class="col-sm-3">Product Link:</dt>
                <dd class="col-sm-9" th:text="${product.url}"></dd>

                <dt class="col-sm-3">Product xPath to price:</dt>
                <dd class="col-sm-9" th:text="${product.xPathToPrice}"></dd>

                <dt class="col-sm-3">Product xPath to title:</dt>
                <dd class="col-sm-9" th:text="${product.xPathToTitle}"></dd>
            </dl>
        </div>

        <canvas id="myChart"></canvas>
    </div>
</div>
<th:block th:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>