<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"/>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/add/form" method="post">

                <div class="form-group">
                    <label for="inputProductName">Product Name:</label>
                    <input type="text" class="form-control" name="name"
                           id="inputProductName" placeholder="Enter product name">
                </div>

                <div class="form-group">
                    <label for="inputProductLink">Product link:</label>
                    <input type="text" class="form-control" name="url"
                           id="inputProductLink" placeholder="Enter product link">
                </div>

                <div class="form-group">
                    <label for="inputPriceXPath">xPath to price:</label>
                    <input type="text" class="form-control" name="xPathToPrice"
                           id="inputPriceXPath" placeholder="Enter xPath to price">
                </div>

                <div class="form-group">
                    <label for="inputTitleXPath">xPath to product title:</label>
                    <input type="text" class="form-control" name="xPathToTitle"
                           id="inputTitleXPath" placeholder="Enter xPath to product title">
                </div>

                <button class="btn btn-primary btn-lg btn-block active mt-4"
                        type="submit">Add new
                </button>
                <br>
                <a  href="/"><i class="fas fa-arrow-left"></i> Back to all products</a>
            </form>
        </div>
    </div>
</div>
<!--scripts-->
<th:block th:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>